<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM</title>
</head>
<link href="ATM.css" rel="stylesheet" type="text/css">
<body>
        <div class="button" style="position: absolute; top: 10px; left: 300px;">입금</div>
        <div class="button" style="position: absolute; top: 210px; left: 300px;">출금</div>
        <div class="button" style="position: absolute; top: 10px; left: 10px;">송금</div>
        <div class="button" style="position: absolute; top: 210px; left: 10px;">잔액조회</div>     




</body>
</html>