<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>InPut</title>
</head>
<body>
<link href="ATM.css" rel="stylesheet" type="text/css">
<pre>    
<h1>금액을 입력해주세요</h1>

금액 : <input id="number"> 원
<div class="in" style="position: absolute; top: 200px; left: 200px;">입금</div>
</pre>
</body>
</html>