<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutPut</title>
</head>
<body>
<link href="ATM.css" rel="stylesheet" type="text/css">
<pre>    
<h1>잔액</h1>

<h1>금액을 입력해주세요</h1>

금액 : <input id="number"> 원
<div class='out' style="position: absolute; top: 200px; left: 200px;">출금</div>
</pre>
</body>
</html>