<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Check</title>
</head>

<link href="ATM.css" rel="stylesheet" type="text/css">
<body>
<pre>    
<h1>잔액</h1>

      원
<div class="login" style="position: absolute; top: 200px; left: 200px;">확인</div>
</pre>
</body>
</html>